:root {
    --text: #01161E;
    --background: #EFF6E0;
    --primary: #124559;
    --secondary: #598392;
    --accent: #AEC3B0;
}

/* Font */
@font-face {
    font-family: Edu_TAS_Beginner;
    src: url(../../font/Edu_TAS_Beginner/EduTASBeginner-VariableFont_wght.ttf);
}

/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background);
}

/* Header Styles */
header {
    background-color: var(--primary);
    padding: 1rem;
    text-align: center;
    color: var(--background);
}

header h1 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

/* Navigation Styles */
.nav {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.nav_list {
    width: 600px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.5rem;
    margin: 0;
}

.nav_list li a {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: var(--text);
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.nav_list li a:hover,
.nav_list li a:focus {
    background-color: rgba(255, 255, 255, 0.1);
    outline: none;
}
.dropdown ul {
    display: none;
    position: absolute;
    background-color: #1c2438;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.dropdown li {
    padding: 10px;
}

.dropdown li a {
    color: #fff;
    text-decoration: none;
}

.dropdown li a:hover {
    color: #4fe64f;
}

.dropdown:hover ul {
    display: block;
}

/* Container Styles */
.container {
    background-color: var(--secondary);
    border-radius: 24px;
    max-width: 600px;
    margin: 30px auto;
    padding: 2rem;
}

.form_in p,
label {
    text-align: center;
    color: #fff;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"] {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: none;
    padding: 0 1rem;
    background-color: #fff; /* Update to your preference */
    font-size: 16px;
    color: var(--text);
}

input[type="submit"] {
    display: block;
    margin: 0 auto;
    width: 80%; /* Adjust to your preference */
    max-width: 400px;
}
