:root {
    --text: #01161E;
    --background: #EFF6E0;
    --primary: #124559;
    --secondary: #598392;
    --accent: #AEC3B0;
}

@font-face {
    font-family: Edu_TAS_Beginner;
    src: url(../../font/Edu_TAS_Beginner/EduTASBeginner-VariableFont_wght.ttf);
}

* {
    font-family: Edu_TAS_Beginner;
}

body{
    background-color: var(--background);
    padding: 0;
    margin: 0;
}

header {
    background-color: var(--primary);
    padding: 1rem;
    text-align: center;
    color: var(--background);
}

header h1 {
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
    color: var(--background);
}

.nav {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.nav_list {
    width: 600px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.5rem;
    margin: 0;
}

.nav_list li a {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: var(--text);
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.nav_list li a:hover,
.nav_list li a:focus {
    background-color: rgba(255, 255, 255, 0.1);
    outline: none;
}

.dropdown span {
    cursor: pointer; 
    text-decoration: none;
    color: #fff;
    font-size: 25px;
}

.dropdown ul {
    display: none;
    position: absolute;
    background-color: #1c2438;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius:10px ;
}

.dropdown li {
    padding: 10px;
}

.dropdown li a {
    text-decoration: none;
    color: #fff; 
}

.dropdown li a:hover{
    color: #4fe64f;
}

.dropdown:hover ul {
    display: block; /
}


.container{
    background-color: #283046;
    width: 500px;
    margin: 30px auto;
    padding: 2rem;
}

.form_in p{
    text-align: center;
    color: #fff;
}


label{
    font-size: 1.2rem;
    color: #fff;
}

input[type="text"],
input[type="email"],
input[type="password"]{
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
}

input[type="submit"]{
    display: block;
    margin: 0 auto;
    width: 400px;
    height: 50px;
}