:root {
    --text: #01161E;
    --background: #EFF6E0;
    --primary: #124559;
    --secondary: #598392;
    --accent: #AEC3B0;
}

@font-face {
    font-family: Edu_TAS_Beginner;
    src: url(../../font/Edu_TAS_Beginner/EduTASBeginner-VariableFont_wght.ttf);
}

* {
    font-family: Edu_TAS_Beginner;
}

/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    background-color: var(--background);
}

body {
    background-image: url(../../img/secretaria.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

section {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    color: var(--text);
}

h3 {
    color: var(--text);
}

article {
    margin-bottom: 10px;
    padding: 30px;
    background-color: rgba(239, 246, 224, 0.8);
    border-radius: 24px;
}

ul,
ol {
    padding-left: 20px;
}

ul {
    color: var(--text);
}

ol {
    color: var(--text);
}

li {
    margin-bottom: 5px;
}

.introduccion p {
    font-size: 20px;
    text-align: justify;
}

.equipo {
    margin: 0 auto;
}

.equipo h2 {
    font-size: 40px;
    text-align: center;
}

.equipo img {
    border-radius: 24px;
    width: 840px;
}

.equipo h3 {
    text-align: center;
    font-size: 30px;
}

.secretariats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: center;
}


.member {
    width: 300px;
    height: 580px;
    padding: 20px;
    border: 1px solid var(--primary);
    border-radius: 24px;
}

.member img {
    width: 300px;
    height: 300px;
    border-radius: 24px;
}



.contacto {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}


/* Estilos para el formulario de contacto */
form {
    background-color: var(--primary);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: var(--background);
}

input[type="text"],
input[type="tel"],
textarea {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid var(--secondary);
    border-radius: 5px;
    background-color: var(--background);
    color: var(--text);
    resize: none;
}

input[type="submit"] {
    display: block;
    background-color: var(--accent);
    color: var(--primary);
    border: none;
    padding: 10px 20px;
    margin: 0 auto;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: var(--secondary);
}

footer {
    background-color: var(--primary);
    color: var(--background);
    text-align: center;
    padding: 2rem;
    position: relative;
    bottom: 0;
    font-size: 0.875rem;
}

footer p {
    margin: 0;
    font-weight: normal;
}