body{
    background-color: #121826;
    margin: 0;
    padding: 0;
}

section {
    background-color: #232536;
    width: 1100px;
    margin: 0 auto;
    padding: 20px;
}

section h2{
    color: #f9f9f9;
}

article h3{
    color: #f9f9f9;
}