:root {
    --text: #01161E;
    --background: #EFF6E0;
    --primary: #124559;
    --secondary: #598392;
    --accent: #AEC3B0;
}

@font-face {
    font-family: Edu_TAS_Beginner;
    src: url(../../font/Edu_TAS_Beginner/EduTASBeginner-VariableFont_wght.ttf);
}

*{
    font-family: Edu_TAS_Beginner;
}

body {
    background-color: var(--background);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

section {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
}

article {
    margin-bottom: 30px;
}

.nosotros p {
    margin-bottom: 30px;
    /* width: 100%; */
    text-align: justify;
    color: var(--text);
}

@media (min-width: 1024px) {
    .nosotros p {
        width: 700px;
    }
}

.mision_y_vision h2 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--text);

}

.box {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


@media (min-width: 768px) {
    .box {
        flex-direction: row;
    }
}

.box div {
    flex: 1;
    padding: 20px;
    /* margin: 10px; */
}

.box h3 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
    color: var(--text);
}

.box p {
    font-size: 16px;
    text-align: justify;
    color: var(--text);
}

footer {
    background-color: var(--primary);
    color: var(--background);
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    font-size: 0.875rem;
}

footer p {
    margin: 0;
    font-weight: normal;
}
