@font-face {
    font-family: Acem;
    src: url(../font/Acem/Acme-Regular.ttf);
}

@font-face {
    font-family: YatraOne;
    src: url(../font/Yatra_One/YatraOne-Regular.ttf);
}

h1, h2, h3, h4, h5, h6{
    font-family: YatraOne, sans-serif;
}

p{
    font-family: YatraOne, sans-serif;
}

a{
    font-family: Acem, sans-serif;
}

label{
    font-family: YatraOne, sans-serif;
}

input{
    font-family: YatraOne, sans-serif;
}

button{
    font-family: YatraOne, sans-serif;
}

li{
    font-family: YatraOne, sans-serif;
}