@font-face {
    font-family: Acem;
    src: url(../fonst/Acem/Acme-Regular.ttf);
}

@font-face {
    font-family: Yatra-One;
    src: url(../fonst/YatraOne-Regular.ttf);
}

*{
    font-family: Acem;
}