body {
    background-color: #121826;
    margin: 0;
}

header {
    padding: .3rem;
    background-color: #1c2438;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu img {
    width: 80px;
    height: 80px;
}

.navbar__list {
    width: 700px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar__item {
    padding: 10px;
}

.navbar__item a {
    text-decoration: none;
    color: #fff;
    font-size: 25px;
}

.navbar__item img {
    width: 80px;
    height: 80px;
}

.dropdown span {
    cursor: pointer; 
    text-decoration: none;
    color: #fff;
    font-size: 25px;
}

.dropdown ul {
    display: none;
    position: absolute;
    background-color: #1c2438;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius:10px ;
}

.dropdown li {
    padding: 10px;
}

.dropdown li a {
    text-decoration: none;
    color: #fff; 
}

.dropdown li a:hover{
    color: #4fe64f;
}

.dropdown:hover ul {
    display: block; /
}
