:root {
    --text: #01161E;
    --background: #EFF6E0;
    --primary: #124559;
    --secondary: #598392;
    --accent: #AEC3B0;
}

main {
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: var(--background);
    color: var(--text);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--background);
}

th, td {
    padding: 12px 15px;
    text-align: left;
}

th {
    background-color: var(--primary);
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

tr {
    border-bottom: 1px solid var(--accent);
}

tr:last-child {
    border-bottom: none;
}

td {
    background-color: #ffffff;
    color: var(--text);
}
