:root {
    --text: #01161E;
    --background: #EFF6E0;
    --primary: #124559;
    --secondary: #598392;
    --accent: #AEC3B0;
}

@font-face {
    font-family: Edu_TAS_Beginner;
    src: url(../../font/Edu_TAS_Beginner/EduTASBeginner-VariableFont_wght.ttf);
}

* {
    font-family: Edu_TAS_Beginner;
}


body{
    background-color: var(--background);
    margin: 0;
    padding: 0;
}

footer {
    background-color: var(--primary);
    color: var(--background);
    text-align: center;
    padding: 2rem;
    margin-top: 30px;
    position: relative;
    bottom: 0;
    font-size: 0.875rem;
}

footer p {
    margin: 0;
    font-weight: normal;
}