body{
    background-color: #121826;
    margin: 0;
}


.bibliot{
    margin-top: 20px;
    width: auto;
    position: relative;
}

.bibliot img{
    width: 99.6vw;
    height: 600px;
}

.bibliot p{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 150px;
    color: #fff;
}

.book_container{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    margin-left: 20px;
}

.books{
    width: 360px;
    text-align: center;
}
.book_portada{
    width: auto;
    max-width: 350px;
    height: auto;
}

.book_titulo{
    color: #fff;
    font-size: 20px;
    display: inline;
}

.alquilar{ 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.descriptioon_alquilar{
    width: 500px;
    color: #fff;
    height: 350px;
    padding: 10px;
}

.descriptioon_alquilar h2{
    color: #fff;
    font-size: 30px;
    text-align: center;
}

.descriptioon_alquilar p{
    font-size: 15px;
}

.form_alquilar{
    color: #fff;
    width: 700px;
    height: auto;
}

.form_alquilar form{
    padding: 20px;
}

.form_alquilar label{
    font-size: 20px;
}

.form_alquilar input{
    text-align: center;
    display: block;
    width: 500px;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 10px;
}

.form_alquilar button{
    margin-top: 30px;
    width: 100px;
    height: 50px;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #121826;
    border-radius: 20px;
}