.books {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    margin-left: 20px;
}

.cart {
    width: 330px;
    position: relative;
    border-radius: 24px;
}

.cart img {
    width: 330px;
    max-width: 330px;
    height: 440px;
    border-radius: 24px;
}

.cart_description {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.cart:hover .cart_description {
    opacity: 1;
}

.title {
    color: #fff;
    text-shadow: 5px 5px 10px black;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
}


.cart_description a {
    text-decoration: none;
    background-color: aliceblue;
    color: black;
    padding: 8px;
    border-radius: 10px;
    margin: 0 auto;
    display: block;
    width: 90px;
    transition: 0.8s ease;
    border: 1px solid black;
}

.cart_description a:hover {
    background-color: greenyellow;
    scale: 1.4;
}
