body {
    background-color: #121826;
    margin: 0;
}

main {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 400px;
    padding: 2rem;
    margin-top: 50px;
    background-color: #1c2438;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    color: #fff;
    display: block;
    font-size: 1.3rem;
}

input[type="text"] {
    width: 350px;
    height: 50px;
    display: block;
    outline: none;
    border: none;
    border-radius: 14px;
    margin-bottom: 20px;
}

textarea {
    width: 350px;
    resize: none;
    outline: none;
    border: none;
    border-radius: 14px;
    margin-bottom: 20px;
    text-align: center;
}

input[type="submit"] {
    display: block;
    width: 100%; 
    height: 50px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 14px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover{
    background-color: #4CAF50;
    color: white;
}