body{
    background-color: #121826;
    margin: 0;
}

.filtral{
    background-color: aliceblue ;
    padding: 1rem;
}

.filtral__list{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    font-size: 20px;
    color: black;
}

.filtral__list:hover{
    cursor: pointer;
}