body{
    background-color: #121826;
    margin: 0;
}

.libs{
    margin-top: 20px;
    width: auto;
    position: relative;
}

.libs img{
    width: 99.6vw;
    height: 600px;
}

.libs p{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 200px;
    color: #fff;
}

.books{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    margin-left: 20px;
}

.cart{
    width: 360px;
    text-align: center;
}

.cart img{
    width: auto;
    max-width: 330px;
    height: 440px;
}

.title{
    color: #fff;
    font-size: 20px;
    display: inline;
}