.header{
    background-color: #1c2438;
    box-shadow: 0 5px 10px #7d7cb9;
    z-index: 1;
}

.menu{
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding: 10px;
}

.menu h1{
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}

.menu_list {
    width: 600px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.menu_list li a{
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 0 20px; 
}
.menu_list li:hover{
    transform: scale(1.1);
}

.contact{
    margin-left: 20px;
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #15405c;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.contact:hover{
    background-color: #e2f1f8;
    color: #00021a;
    transform: scale(1.1);
}

.logo {
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
    
}

