.header{
    background-color: #1c2438;
    position: relative;
    box-shadow: 10px 5px 5px rgb(0, 0, 0);
}

.menu{
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding: 10px;

}

.menu img{
    width: 80px;
    height: 80px;
}

.menu_list {
    width: 600px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: .2rem;
}

.menu_list li a{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}